<div class="table-responsive">
<table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeader" scope="col">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentData">
        <th class="py-2" scope="row">{{item.studentId}}</th>
        <td class="py-2">{{item.name}}</td>
        <td class="py-2">
          <div *ngFor="let score of item.scores">{{score.learningObjective}}</div>
        </td>
        <td class="py-2"><div *ngFor="let score of item.scores">{{score.score}}</div></td>
        <td class="py-2">{{item.subject}}</td>
      </tr>
    </tbody>
  </table>
</div>